{% extends 'base.html' %}
{% import 'cleopatra/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    
{% endblock %}
{% block title %}Signup{% endblock %}

{% block body %}
    {{ super() }}    
    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block content %}
    <h1 class="h5">Signup</h1>
    <hr class="my-5">    
    <div class="space-y-12">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            {{ wtf.quick_form(register_form) }}
        </div>
        
    </div>
    
{% endblock %}