{% macro form_errors(form, hiddens=true) %}
  {%- if form.errors %}
    {%- if form.errors|list %}
      {%- for error in form.errors %}
        <div class="text-red-500">{{ error }}</div>
      {%- endfor %}
    {%- else %}
      {%- for fieldname, errors in form.errors.items() %}
        {%- if not form[fieldname].widget.input_type == 'hidden' or hiddens == 'only' %}
          {%- for error in errors %}
            <div class="text-red-500">{{ error }}</div>
          {%- endfor %}
        {%- endif %}
      {%- endfor %}
    {%- endif %}
  {%- endif %}
{%- endmacro %}

{% macro _hz_form_wrap(horizontal_columns, form_type, add_group=false, required=false) %}
  {% if form_type == "horizontal" %}
    {% if add_group %}<div class="grid grid-cols-{{ horizontal_columns[1] + horizontal_columns[2] }}{% if required %} required{% endif %}">{% endif %}
    <div class="col-span-{{ horizontal_columns[1] }} md:col-start-{{ horizontal_columns[0] }} md:col-span-{{ horizontal_columns[2] }}">
  {% endif %}
  {{ caller() }}
  {% if form_type == "horizontal" %}
    {% if add_group %}</div>{% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro form_field(field, form_type="basic", horizontal_columns=('md', 4, 8), button_map={}) %}
  {%- if field.type == 'BooleanField' %}
    <div class="flex items-center space-x-2">
      {{ field(class_="form-checkbox text-indigo-600 h-4 w-4") }}
      {{ field.label.text }}
    </div>
  {%- else %}
    <div class="mb-4">
      {{ field.label(class_="block text-sm font-medium leading-5 text-gray-700") }}
      {{ field(class_="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm transition duration-150 ease-in-out sm:text-sm sm:leading-5") }}
      {{ form_errors(field) }}
    </div>
  {%- endif %}
{% endmacro %}


{% macro quick_form(form, action="", method="post", extra_classes="", role="form", form_type="basic", horizontal_columns=('md', 4, 8), enctype="", button_map={}, id="", novalidate=false, render_kw={}) %}
  <form
    {%- if action %} action="{{ action }}"{% endif -%}
    {%- if method %} method="{{ method }}"{% endif %}
    {%- if id %} id="{{ id }}"{% endif %}
    {%- if enctype %} enctype="{{ enctype }}"{% endif %}
    {%- if novalidate %} novalidate{% endif %}
    class="form
      {%- if extra_classes %} {{ extra_classes }}{% endif -%}
      {%- if form_type == "inline" %} form-inline{% endif -%}
    "
    {%- if role %} role="{{ role }}"{% endif -%}
    {%- if render_kw %} {{ render_kw|xmlattr }}{% endif -%}
  >
    {{ form.hidden_tag() }}
    {{ form_errors(form, hiddens="only") }}

    {%- for field in form %}
      {{ form_field(field, form_type=form_type, horizontal_columns=horizontal_columns, button_map=button_map) }}
    {%- endfor %}
  </form>
{% endmacro %}